<div class="row">
	<div class="col-sm-12 library">
		<h2><%= @library.name %></h2>
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		<%= render "edit_time_table" %>
	</div>

	<div class="col-sm-3 outline">
		<%= render "time_table_form" %>
	</div>
</div>



