<div class="row">
  <div class="col-sm-8 hp-main-content">

	<div class="col-sm-12 browse-box">
		<h2>Dashboard</h2>
		<ul>
			<% @libraries.each do |lib| %>
				<li><%= link_to "Edit #{lib.name} Calendar", time_tables_batch_edit_path(lib) %></li>
			<% end %>
		</ul>
	</div>

  </div>

  <div class="col-sm-3 outline">
    <h2>Users</h2>
    <ul>
      <li><%= link_to "Manage Users", admin_users_path %></li>
      <li><%= link_to "Add User", new_admin_user_path %></li>
    </ul>
  </div>
</div>
