<div class="col-md-12">
<% unless @secondary_locations.empty? %>
  <div class="well">
    <ul class="list-2col noborder">
    <% @secondary_locations.each do |location| %>
      <li><%= link_to location.name, location %></li>
    <% end %>
    </ul>
  </div>
<% end %>
</div>
