<div class="col-md-12 text-center">
<% unless @secondary_locations.empty? %>
  <div class="well">
    <ul>
    <% @secondary_locations.each do |location| %>
      <li><%= link_to location.name, location_path(location.code) %></li>
    <% end %>
    </ul>
  </div>
<% end %>
</div>