<div class="row">
  <div class="col-sm-12 location">
    <h2><%= @location.name %></h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <%= render "edit_timetable" %>
  </div>

  <div class="col-sm-3 outline">
    <%= render "timetable_form" %>
  </div>
</div>
