<div class="col-sm-12 library">
	<h2><%= @library.name %></h2>
</div>

<div class="col-sm-8">
	<%= render "libraries/calendars/edit_calendar" %>
</div>

<div class="col-sm-3 outline">
	<h4>Edit Hours</h4>
	<%= render "libraries/calendars/calendar_form" %>
</div>


