<h2 class="lead trajanpro text-center">Study Spaces Open Now</h2>
<div class="well well-sm text-center"> <%= @now.strftime('%B %e, %Y') %></div>
<ul class="list-2col">
  <% @open.each do |timetable| %>
  <li class="location-item">
    <span class="closes-at pull-right">Until <%= timetable.close_time.strftime("%l:%M %P") %></span>
    <%= link_to timetable.location.name, location_path(timetable.location.code) %>
  </li>
  <% end %>
</ul>
