<div class="location col-sm-12">
  <h2><%= @location.name %></h2>
  <% if @location.primary_location %>
    <h3><%= link_to @location.primary_location.name, @location.primary_location %></h3>
  <% end %>

  <%= render "timetables/timetable" %>
  <%= render "timetables/secondaries" %>
</div>
