<section id="hero" class="d-sm-block">
 <div class="jumbotron text-center d-flex mb-0">
	 <div class="container d-flex align-items-center">
		 <div id="hero-search" class="col-md-8 offset-md-2">
			 <form id="hero-search-form" class="" method="get" action="https://clio.columbia.edu/quicksearch">
				 <div class="input-group input-group-lg flex-nowrap">
					 <span class="input-group-prepend">
						 <button class="btn btn-light border-right-0 border" type="submit" aria-label="Submit keywords">
								 <i class="fal fa-search"></i>
						 </button>
					 </span>
						 <input required class="form-control py-2 border-left-0 border h-100" type="search" aria-label="Search CLIO & the Libraries" placeholder="Search CLIO & the Libraries Website" name="q" id="quicksearch" autofocus>
				 </div>
			 </form>
		 </div>
	 </div>
 </div>
</section>

<% unless current_page?(root_path) %>
  <section id="breadcrumb_bar" class="cul-breadcrumb_bar bg-light">
      <nav aria-label="breadcrumb">
          <div class="container">
              <div class="row">
                  <div class="col">
                      <ol class="breadcrumb bg-transparent small px-0 m-0">
                        <li class="breadcrumb-item" aria-current="page"><%= link_to "Hours Home", root_path %></li>
                        <li class="breadcrumb-item active"><%= page_title(@location) %></li>
                      </ol>
                  </div>
              </div>
          </div>
      </nav>
  </section>
<% end %>
