<div id="site-banner">
	<div class="row">
	 <div id="site-banner-inner">
	  <div class="col-sm-9">
		<h1>
			<%= link_to(image_tag("/assets/cul-banner-hours.png", :alt => "logo", :title => "Hours Home"), "/") %>
		</h1>
	  </div>
	  <div class="col-sm-3 hidden-xs">
	   <div id="site-banner-left"><a href="https://library.columbia.edu/research/askalibrarian.html"><img class="spotlight" src="https://library.columbia.edu/content/libraryweb/srcdoc/homepage_spotlight/_jcr_content/layout_par_main_1/image_v2.img.jpg/1370032412527.jpg" alt="Spotlight Blog"></a></div>
	  </div>
	 </div>
	</div><!--/row-->
</div> <!--/#site-banner-->
