<div id="culnav" class="navbar well-mini">
	<div class="navbar-inner square-all">
		<div class="container-fluid">
				<ul id="culnav-main" class="nav navbar-nav">
					<li><a href="http://library.columbia.edu"><i class="glyphicon glyphicon-home"></i> Libraries Home</a></li>
					<li class="divider-vertical"></li>
					<li><a href="/"><i class="glyphicon glyphicon-time"></i> Hours Home</a></li>
				</ul>
		</div>
	</div>
</div>
