<footer id="site-footer" class="text-muted small py-2">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <a href="http://www.columbia.edu">
              <span class="brand sr-only">Columbia University</span>
              <img src="https://toolkit.library.columbia.edu/v3/img/cu-blue-logo.svg" alt="Columbia University Logo" class="img-responsive hidden-xs w-100">
            </a>
          </div>
          <div class="col text-right">
            <span class="copyright mr-1"><a href="https://www.columbia.edu/content/copyright" class="external" target="_blank" rel="noopener">&copy;2019 Columbia University Libraries</a></span>
            <span class="a11y mr-1"><a href="http://health.columbia.edu/disability-services" class="external" target="_blank" rel="noopener"><i class="far fa-wheelchair" aria-hidden="true"></i><span class="sr-only">Accessibility</span></a></span>
            <span class="mr-1"><a href="http://eoaa.columbia.edu/notice-nondiscrimination" class="external" target="_blank" rel="noopener">Nondiscrimination</a></span>
            <span><a href="https://careers.columbia.edu/" class="external" target="_blank" rel="noopener">Jobs &amp; Internships</a></span>
          </div>
        </div>
      </div>
</footer>
