<footer id="site-footer" class="text-muted small py-2">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="http://www.columbia.edu">
                    <span class="brand sr-only">Columbia University</span>
                    <img src="https://toolkit.library.columbia.edu/v3/img/cu-blue-logo.svg" alt="Columbia University Logo" class="img-responsive w-100">
                </a>
            </div>
            <div class="col text-right">
                <span class="copyright mr-1">©<%= Time.current.year %> Columbia University Libraries</span>
                <span><a href="https://eoaa.columbia.edu/content/non-discrimination-statement-and-policy" class="external" target="_blank" rel="noopener">Nondiscrimination</a></span>
            </div>
        </div>
    </div>
</footer>
