<nav class="navbar navbar-static-top navbar-inverse">
  <h1 class="container logo-contain">
    <%= link_to "Library Hours", root_path, id: "logo" %>
  </h1>
</nav>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="/admin">Hours Admin</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item">
        <a class="nav-link" href="//library.columbia.edu" target="_blank">CUL Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/" target="_blank">Hours Public</a>
      </li>
    </ul>

    <ul class="navbar-nav my-2 my-lg-0">
      <% if @current_user %>
        <li class="nav-item">
          <%= link_to "Sign out #{current_user.uid}", destroy_user_session_path, class: "nav-link my-lg-0" %>
        </li>
      <% else %>
        <li class="nav-item"><%= link_to "Sign in", new_user_session_path, class: "nav-link my-lg-0" %></li>
      <% end %>
    </ul>
  </div>
</nav>
