<% flash.each do |key, value| %>
  <% key = 'danger' if (key == 'error') %>
  <div class="alert alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <%= value %>
  </div>
<% end %>
