<nav id="topnavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div id="navbar-container" class="container">
		<div class="col-sm-12" id="cul_top-nosearch">
			<div class="row">
				<div class="col-sm-8">
					<ul class="nav pull-left" id="crowndown-nosearch">
						<li class="dropdown menu"><a href="#" class="dropdown-toggle menu" data-toggle="dropdown" title="Links @ Columbia"><span class="topbarlogo">Columbia University Libraries</span> <b class="caret"></b></a>
						<ul class="dropdown-menu menu-dropdown">
							<li><a href="http://columbia.edu"><i class="icon-crown-white"></i> Columbia University » Home</a></li>
							<li><a href="http://library.columbia.edu/index.html"><i class="glyphicon glyphicon-home icon-white"></i>  Libraries » Home</a></li>
							<li class="divider"></li>
							<li><a href="http://library.columbia.edu/help.html"><i class="glyphicon glyphicon-flag icon-white"></i> Help</a></li>
							<li><a href="http://hours.library.columbia.edu"><i class="glyphicon glyphicon-time icon-white"></i> Hours</a></li>
							<li><a href="http://library.columbia.edu/locations/map.html"><i class="glyphicon glyphicon-map-marker icon-white"></i> Maps &amp; Directions</a></li>
							<li><a href="http://library.columbia.edu/research/askalibrarian.html"><i class="glyphicon glyphicon-question-sign icon-white"></i> Ask a Librarian</a></li>
							<li><a href="http://library.columbia.edu/help/faq.html"><i class="glyphicon glyphicon-info-sign icon-white"></i> FAQ</a></li>
							<li><a href="http://library.columbia.edu/find/reserves.html"><i class="glyphicon glyphicon-book icon-white"></i> Course Reserves</a></li>
							<li><a href="http://library.columbia.edu/find/request.html"><i class="glyphicon glyphicon-star-empty icon-white"></i> Request Items</a></li>
							<li class="divider"></li>
							<li><a href="http://library.columbia.edu/about/libraries-giving.html"><i class="glyphicon glyphicon-gift icon-white"></i> Giving to Columbia Libraries</a></li>
							<li><a href="http://library.columbia.edu/news.html"><i class="glyphicon glyphicon-calendar icon-white"></i> News &amp; Events</a></li>
							<li><a href="#" class="feedback-popup" data-feedback-track-location="navbar"><i class="glyphicon glyphicon-bullhorn icon-white"></i> Suggestions &amp; Feedback</a></li>
						</ul>
						</li>
					</ul>
				</div><!--/col-sm-9-->
				<div class="col-sm-4">
					<ul id="cul_top-right" class="nav pull-right">
						<li class="dropdown menu pull-left"><a class="dropdown-toggle menu" data-toggle="dropdown" href="#">Help <b class="caret"></b></a>
							<ul class="dropdown-menu menu-dropdown dropdown-menu-right">
								<li><a href="http://library.columbia.edu/help/faq.html">FAQ</a></li>
								<li><a href="http://library.columbia.edu/help/using-this-site.html">Website Help</a></li>
								<li><a href="http://library.columbia.edu/research/askalibrarian.html">Ask a Librarian</a></li>
								<li><a href="http://library.columbia.edu/find/clio.html">CLIO Help</a></li>
								<li><a href="http://www.columbia.edu/cgi-bin/cul/resolve?lweb0006">Report E-Resource Problems</a></li>
								<li><a href="#" class="feedback-popup" data-feedback-track-location="navbar">Suggestions &amp; Feedback</a></li>
								<li><a href="http://library.columbia.edu/help/tips/feedback.html">Help Improve This Website</a></li>
								<li><a href="http://library.columbia.edu/help/site-index.html">Site Index</a></li>
							</ul>
						</li>
					</ul>
					<div class="nav pull-right navlist-padded">
						<a href="http://www.columbia.edu/cgi-bin/cul/resolve?lweb0087">My Library Account</a>
					</div>
				</div><!--/col-sm-3-->
			</div><!--/row-->
		</div><!-- /cul_top-nosearch -->
	</div>
</nav>
