
	 <header id="header">
		 <nav class="navbar d-block navbar-expand-sm navbar-light bg-white">
			 <div class="d-flex flex-row justify-content-between">
				 <div class="">
					 <button class="navbar-toggler mt-2 border-0" type="button" data-toggle="collapse" data-target="#navbarCUL" aria-controls="navbarCUL" aria-expanded="false" aria-label="Toggle navigation">
						 <i class="fal fa-bars"></i>
					 </button>
				 </div>
				 <div class="">
					 <a class="navbar-brand w-100 d-sm-none" href="#">
						 <img class="img-fluid w-100" src="https://toolkit.library.columbia.edu/v3/img/cul-text-logo.svg" alt="Columbia University Libraries">
					 </a>
				 </div>
				 <div class="">
					 <button class="navbar-toggler mt-2 border-0" type="button" data-toggle="collapse" data-target="#hero-search" aria-controls="hero-search" aria-expanded="false" aria-label="Toggle Hero Search">
							 <i class="fal fa-search w-30"></i>
					 </button>
				 </div>
		 </div> <!-- /row -->

			 <div class="container d-flex">
				 <div class="collapse navbar-collapse" id="navbarCUL">

				 <div class="d-flex flex-column">

					 <nav id="global-menu" class="d-flex justify-content-sm-end">
						 <ul class="navbar-nav">
							 <li class="nav-item">
								 <a class="nav-link" href="#">My Library Account</a>
							 </li>
							 <li class="nav-item">
								 <a class="nav-link" href="#">Hours</a>
							 </li>
							 <li class="nav-item">
								 <a class="nav-link" href="#">Ask a Librarian</a>
							 </li>
							 <li class="nav-item">
								 <button class="mt-2 border-0 bg-transparent" type="button" data-toggle="collapse" data-target="#hero-search" aria-controls="hero-search" aria-expanded="false" aria-label="Toggle Hero Search">
										 <i class="fal fa-search w-30"></i>
								 </button>
							 </li>
						 </ul>
					 </nav>

					 <section id="branding" class="d-none d-sm-flex">
						 <div id="site-name">
							 <a href="#"><img class="img-fluid" src="https://toolkit.library.columbia.edu/v3/img/cul-text-logo.svg" alt="Columbia University Libraries"></a>
						 </div>
						 <h1 class="sr-only">Columbia University Libraries</h1>
					 </section>

					 <nav id="main-menu" class="d-flex">
						 <ul class="navbar-nav">
							 <li class="nav-item dropdown position-static">
								 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									 Services &amp; Tools
								 </a>
								 <div class="dropdown-menu bg-secondary w-100 border-top-0 border-left-0 border-right-0 rounded-0 mt-0" aria-labelledby="navbarDropdown1">
									 <div class="container">
										 <div class="row">
											 <div class="col">
												 <div class="cul-cols">
													 <h6 class="dropdown-header text-light text-uppercase">Services &amp; Tools Heading</h6>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/research-compliance-topics-news">Compliance in the News</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/conflict-interest-and-research">Conflict of Interest</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/economic-sanctions">Economic Sanctions</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/export-controls">Export Controls</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/international-research">International Research</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/research-policies-and-handbooks">Policies and Handbooks</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/research-misconduct">Research Misconduct</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/institutional-animal-care-and-use-committee">Research with Animals</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/human-research-protection-office-and-irbs">Research with Humans</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulinks/responsible-conduct-research">Responsible Conduct of Research</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/office-research-compliance-and-training">Office of Research Compliance and Training</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/report-incident">Report an Incident</a>
													 <a class="dropdown-item text-white bg-secondary" href="/research-compliance-topics" data-drupal-link-system-path="node/903">Additional Topics</a>
												 </div>
											 </div>
										 </div>
									 </div>
								 </div>
							 </li>
							 <li class="nav-item dropdown position-static">
								 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									 Libraries
								 </a>
								 <div class="dropdown-menu bg-secondary w-100 border-top-0 border-left-0 border-right-0 rounded-0 mt-0" aria-labelledby="navbarDropdown5">
									 <div class="container">
										 <div class="row">
											 <div class="col">
												 <div class="cul-cols">
													 <h6 class="dropdown-header text-light text-uppercase">Libraries Heading</h6>
													 <a class="dropdown-item text-white bg-secondary" href="https://library.columbia.edu/locations/avery.html">Avery Architectural & Fine Arts Library</a>
													 <a class="dropdown-item text-white bg-secondary" href="https://library.columbia.edu/locations/burke.html">Burke Library at Union Theological Seminary</a>
													 <a class="dropdown-item text-white bg-secondary" href="https://library.columbia.edu/locations/business.html">Business & Economics Library</a>
													 <a class="dropdown-item text-white bg-secondary" href="https://library.columbia.edu/locations/butler.html">Butler Library</a>
													 <a class="dropdown-item text-white bg-secondary" href="https://library.columbia.edu/locations/eastasian.html">C.V. Starr East Asian Library</a>
													 <a class="dropdown-item text-white bg-secondary" href="https://library.columbia.edu/locations/journalism.html">Journalism Library</a>
													 <a class="dropdown-item text-white bg-secondary" href="https://library.columbia.edu/locations/lehman.html">Lehman Social Sciences</a>
													 <a class="dropdown-item text-white bg-secondary" href="https://library.columbia.edu/locations/math.html">Mathematics Library</a>
													 <a class="dropdown-item text-white bg-secondary" href="https://library.columbia.edu/locations/undergraduate.html">Milstein Undergraduate Library</a>
													 <a class="dropdown-item text-white bg-secondary" href="https://library.columbia.edu/locations/music.html">Music & Arts Library</a>
													 <a class="dropdown-item text-white bg-secondary" href="https://library.columbia.edu/locations/rbml.html">Rare Book & Manuscript Library</a>
													 <a class="dropdown-item text-white bg-secondary" href="https://library.columbia.edu/locations/science-engineering.html">Science & Engineering Library</a>
													 <a class="dropdown-item text-white bg-secondary" href="https://library.columbia.edu/locations/social-work.html">Social Work Library</a>
													 <a class="dropdown-item text-white bg-secondary" href="https://library.columbia.edu/locations.html">Go to All Libraries & Affiliates</a>
												 </div>
											 </div>
										 </div>
									 </div>
								 </div>
							 </li>
							 <li class="nav-item dropdown position-static">
								 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									 Using<span class="d-inline d-sm-none d-md-inline"> the Libraries</span>
								 </a>
								 <div class="dropdown-menu bg-secondary w-100 border-top-0 border-left-0 border-right-0 rounded-0 mt-0" aria-labelledby="navbarDropdown2">
									 <div class="container">
										 <div class="row">
											 <div class="col">
												 <div class="cul-cols">
													 <h6 class="dropdown-header text-light text-uppercase">Using the Libraries Heading</h6>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/research-compliance-topics-news">Compliance in the News</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/conflict-interest-and-research">Conflict of Interest</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/economic-sanctions">Economic Sanctions</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/export-controls">Export Controls</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/international-research">International Research</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/research-policies-and-handbooks">Policies and Handbooks</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/research-misconduct">Research Misconduct</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/institutional-animal-care-and-use-committee">Research with Animals</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/human-research-protection-office-and-irbs">Research with Humans</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulinks/responsible-conduct-research">Responsible Conduct of Research</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/office-research-compliance-and-training">Office of Research Compliance and Training</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/report-incident">Report an Incident</a>
													 <a class="dropdown-item text-white bg-secondary" href="/research-compliance-topics" data-drupal-link-system-path="node/903">Additional Topics</a>
												 </div>
											 </div>
										 </div>
									 </div>
								 </div>
							 </li>
							 <li class="nav-item dropdown position-static">
								 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									 Collections
								 </a>
								 <div class="dropdown-menu bg-secondary w-100 border-top-0 border-left-0 border-right-0 rounded-0 mt-0" aria-labelledby="navbarDropdown3">
									 <div class="container">
										 <div class="row">
											 <div class="col">
												 <div class="cul-cols">
													 <h6 class="dropdown-header text-light text-uppercase">Collections Heading</h6>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/research-compliance-topics-news">Compliance in the News</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/conflict-interest-and-research">Conflict of Interest</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/economic-sanctions">Economic Sanctions</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/export-controls">Export Controls</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/international-research">International Research</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/research-policies-and-handbooks">Policies and Handbooks</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/research-misconduct">Research Misconduct</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/institutional-animal-care-and-use-committee">Research with Animals</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/human-research-protection-office-and-irbs">Research with Humans</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulinks/responsible-conduct-research">Responsible Conduct of Research</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/office-research-compliance-and-training">Office of Research Compliance and Training</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/report-incident">Report an Incident</a>
													 <a class="dropdown-item text-white bg-secondary" href="/research-compliance-topics" data-drupal-link-system-path="node/903">Additional Topics</a>
												 </div>
											 </div>
										 </div>
									 </div>
								 </div>
							 </li>
							 <li class="nav-item dropdown position-static">
								 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									 About
								 </a>
								 <div class="dropdown-menu bg-secondary w-100 border-top-0 border-left-0 border-right-0 rounded-0 mt-0" aria-labelledby="navbarDropdown4">
									 <div class="container">
										 <div class="row">
											 <div class="col">
												 <div class="cul-cols">
													 <h6 class="dropdown-header text-light text-uppercase">About Heading</h6>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/research-compliance-topics-news">Compliance in the News</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/conflict-interest-and-research">Conflict of Interest</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/economic-sanctions">Economic Sanctions</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/export-controls">Export Controls</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/international-research">International Research</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/research-policies-and-handbooks">Policies and Handbooks</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/research-misconduct">Research Misconduct</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/institutional-animal-care-and-use-committee">Research with Animals</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/human-research-protection-office-and-irbs">Research with Humans</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulinks/responsible-conduct-research">Responsible Conduct of Research</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/office-research-compliance-and-training">Office of Research Compliance and Training</a>
													 <a class="dropdown-item text-white bg-secondary" href="/menulink/report-incident">Report an Incident</a>
													 <a class="dropdown-item text-white bg-secondary" href="/research-compliance-topics" data-drupal-link-system-path="node/903">Additional Topics</a>
												 </div>
											 </div>
										 </div>
									 </div>
								 </div>
							 </li>
						 </ul>
					 </nav>

				 </div> <!-- flex-column -->
				 </div> <!-- /navbarCUL -->
			 </div> <!-- /container -->
		 </nav>
	 </header>
